
div { 
    text-align: center;
    height: 100vh;
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (orientation:portrait) {
    .backgroundDevil {
        display: none;
    }
    body{
        background-image: url(img/ciel.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

} 
@media screen and (orientation:landscape) {
    .backgroundAngel {
        display: none;
    }
    body {
        background-color: black;
    }
}