div {
    margin: auto;
    text-align: center;
}
@media screen and (orientation:portrait) {
    .backgroundDevil {
        display: none;
    }
} 
@media screen and (orientation:landscape) {
    .backgroundAngel {
        display: none;
    }
}